.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.App{
  text-align: center;
}

.App #article{
  text-align: left;
  border: 5px;
  border-color: black;
}

#filter {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

#search {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%
}

.column {
  max-width: 500px;
}

#login-header{
  margin-top: 150px;
}

#website {
  padding-bottom: 15%;
}

#user-card {
  max-width: inherit;
}
